* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  max-width: 800px;
  margin: 40px auto 60px;
  padding: 0 20px;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  background-color: #333333;
  color: white;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  position: relative;
}

#pic {
  width: 100%;
  max-width: 200px;
  height: 270px;
  border: 5px solid white;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: rotate(5deg);
}

#pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



h1, h2, p, ul, dl {
  margin: 0 0 1rem 0; /* Añadir un margen inferior para separar los elementos */
}

header, main {
  padding: 1rem; /* Añadir un poco de padding alrededor del contenido */
}
header a {
  color: grey;
}

header p:first-of-type{
  text-align: left;
}

h1 {
  font-size: 2rem; /* Tamaño grande para el nombre */
  margin-bottom: 0.5rem; /* Espacio después del nombre */
  color: #fdfcfc;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

h2 {
  font-size: 1.5rem; /* Tamaño para los títulos de sección */
  margin-bottom: 0.5rem; /* Espacio después de los títulos */
  color: #9b6b11;
}

h2 span {
  font-family: 'Lora', serif; /* Usar Lora Italic */
  font-style: italic;
  font-weight: normal; /* Ajusta el peso si es necesario */
  color: #a9a9a9; /* Ajusta el color según la imagen */
  font-size: medium;
}

ul {
  padding-left: 1rem; /* Añadir un poco de padding a la izquierda */
}

li {
  margin-bottom: 0.5rem; /* Espacio entre elementos de la lista */
}

dd {
  margin-bottom: 1rem; /* Espacio después de cada detalle */
  padding-left: 15px;
  border-left: 2px #ffa500 solid;
}

dt{
  color: #9b6b11;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  font-style: italic;
}



#objective{
  font-style: italic;
}


@media (max-width: 600px) {
  header, dl {
    grid-template-columns: 1fr; 
  }
  body {
    font-size: 1rem !important; /* Reducir el tamaño de la fuente en móviles */
    line-height: 20px; /* Ajustar el interlineado */
  }
  #pic {
    max-width: 150px; /* Reducir el tamaño máximo de la imagen en móviles */
    margin: 0 auto 1rem; /* Centrar la imagen y añadir margen inferior */
  }
  header {
    text-align: center; /* Centrar el texto en móviles */
  }
  dt{
    text-align: left !important;
  }

  dd{
    padding-left: 10px !important;
  }
  dt, h2 {
    font-size: 1rem;
  }
  main {
    padding: 0rem !important
  }

  #pic{
    transform: none;
    max-width: 12rem;
    max-height: 12rem;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 50% !important;
  }
  img {
    max-width: 12rem;
    max-height: 12rem;
    border: 0px solid rgba(255, 255, 255, 0.2);
    border-radius: 50% !important;
  }
}



